* {
  margin: 0;
  padding: 0;
}


#page {
  padding: 0px 50px;
}

@media only screen and (max-width: 568px) {
  #page {
    padding: 0px 30px;
  }
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.2;
  /*font-family: 'Montserrat', sans-serif;*/
  font-weight: normal;
}

h1 {
  color: #5b8e8d;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  margin-bottom: 0.75em;
  text-transform: uppercase;
}

@media only screen and (max-width: 568px) {
  h1 {
    font-size: 2.25rem;
  }
}

h2 {
  color: #82bcba;
  font-size: 1.75rem;
  margin-bottom: 0.75em;
  margin-top: 2em;
}

h3 {
  color: #82bcba;
  font-size: 1.25rem;
  margin-bottom: 0.75em;
  margin-top: 2em;
}

a,
a:visited,
a:active {
  color: #5b8e8d;
  text-decoration: none;
}

a:hover {
  color: #53bcba;
}

p {
  font-size: 1.125rem;
  word-break: break-word;
}

p.credits {
  font-size: .8125rem;
  margin-top: 6em;
}

@media only screen and (max-width: 568px) {
  .phone-block {
    display: block;
  }

  .phone-hide {
    display: none;
  }
}

code {
  background: #c6d8d8;
  border-radius: 5px;
  color: #3d6969;
  display: block;
  margin: 2em 0;
  padding: 15px;
  position: relative;
}

code:after {
  bottom: 5px;
  color: #e4ebeb;
  /*font-family: 'Lato', sans-serif;*/
  font-size: 1rem;
  position: absolute;
  right: 10px;
  text-transform: uppercase;
}

code.css:after {
  content: 'css';
}

code.js:after {
  content: 'js';
}



/*
 * Example 6:
 * Max height
 */
.bt-wrapper.active {
  margin-top: 1.5em;
}
.bt-wrapper.active table {
  margin: 0;
}

