<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.logistics.mapper.GoodsMessageMapper" >
  <resultMap id="BaseResultMap" type="com.logistics.model.GoodsMessage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goodsname" property="goodsname" jdbcType="VARCHAR" />
    <result column="goodsnumber" property="goodsnumber" jdbcType="INTEGER" />
    <result column="goodsunit" property="goodsunit" jdbcType="VARCHAR" />
    <result column="stareprovince" property="stareprovince" jdbcType="VARCHAR" />
    <result column="startcity" property="startcity" jdbcType="VARCHAR" />
    <result column="endprovince" property="endprovince" jdbcType="VARCHAR" />
    <result column="endcity" property="endcity" jdbcType="VARCHAR" />
    <result column="style" property="style" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="linkman" property="linkman" jdbcType="VARCHAR" />
    <result column="issuedate" property="issuedate" jdbcType="TIMESTAMP" />
    <result column="adduser" property="adduser" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="request" property="request" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goodsname, goodsnumber, goodsunit, stareprovince, startcity, endprovince, endcity, 
    style, phone, linkman, issuedate, adduser, remark, request
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_goods_message
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_goods_message
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.logistics.model.GoodsMessage" >
    insert into tb_goods_message (id, goodsname, goodsnumber, 
      goodsunit, stareprovince, startcity, 
      endprovince, endcity, style, 
      phone, linkman, issuedate, 
      adduser, remark, request
      )
    values (#{id,jdbcType=INTEGER}, #{goodsname,jdbcType=VARCHAR}, #{goodsnumber,jdbcType=INTEGER}, 
      #{goodsunit,jdbcType=VARCHAR}, #{stareprovince,jdbcType=VARCHAR}, #{startcity,jdbcType=VARCHAR}, 
      #{endprovince,jdbcType=VARCHAR}, #{endcity,jdbcType=VARCHAR}, #{style,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{linkman,jdbcType=VARCHAR}, #{issuedate,jdbcType=TIMESTAMP}, 
      #{adduser,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{request,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.logistics.model.GoodsMessage" >
    insert into tb_goods_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsname != null" >
        goodsname,
      </if>
      <if test="goodsnumber != null" >
        goodsnumber,
      </if>
      <if test="goodsunit != null" >
        goodsunit,
      </if>
      <if test="stareprovince != null" >
        stareprovince,
      </if>
      <if test="startcity != null" >
        startcity,
      </if>
      <if test="endprovince != null" >
        endprovince,
      </if>
      <if test="endcity != null" >
        endcity,
      </if>
      <if test="style != null" >
        style,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="linkman != null" >
        linkman,
      </if>
      <if test="issuedate != null" >
        issuedate,
      </if>
      <if test="adduser != null" >
        adduser,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="request != null" >
        request,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsname != null" >
        #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsnumber != null" >
        #{goodsnumber,jdbcType=INTEGER},
      </if>
      <if test="goodsunit != null" >
        #{goodsunit,jdbcType=VARCHAR},
      </if>
      <if test="stareprovince != null" >
        #{stareprovince,jdbcType=VARCHAR},
      </if>
      <if test="startcity != null" >
        #{startcity,jdbcType=VARCHAR},
      </if>
      <if test="endprovince != null" >
        #{endprovince,jdbcType=VARCHAR},
      </if>
      <if test="endcity != null" >
        #{endcity,jdbcType=VARCHAR},
      </if>
      <if test="style != null" >
        #{style,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="issuedate != null" >
        #{issuedate,jdbcType=TIMESTAMP},
      </if>
      <if test="adduser != null" >
        #{adduser,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="request != null" >
        #{request,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.logistics.model.GoodsMessage" >
    update tb_goods_message
    <set >
      <if test="goodsname != null" >
        goodsname = #{goodsname,jdbcType=VARCHAR},
      </if>
      <if test="goodsnumber != null" >
        goodsnumber = #{goodsnumber,jdbcType=INTEGER},
      </if>
      <if test="goodsunit != null" >
        goodsunit = #{goodsunit,jdbcType=VARCHAR},
      </if>
      <if test="stareprovince != null" >
        stareprovince = #{stareprovince,jdbcType=VARCHAR},
      </if>
      <if test="startcity != null" >
        startcity = #{startcity,jdbcType=VARCHAR},
      </if>
      <if test="endprovince != null" >
        endprovince = #{endprovince,jdbcType=VARCHAR},
      </if>
      <if test="endcity != null" >
        endcity = #{endcity,jdbcType=VARCHAR},
      </if>
      <if test="style != null" >
        style = #{style,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        linkman = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="issuedate != null" >
        issuedate = #{issuedate,jdbcType=TIMESTAMP},
      </if>
      <if test="adduser != null" >
        adduser = #{adduser,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="request != null" >
        request = #{request,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.logistics.model.GoodsMessage" >
    update tb_goods_message
    set goodsname = #{goodsname,jdbcType=VARCHAR},
      goodsnumber = #{goodsnumber,jdbcType=INTEGER},
      goodsunit = #{goodsunit,jdbcType=VARCHAR},
      stareprovince = #{stareprovince,jdbcType=VARCHAR},
      startcity = #{startcity,jdbcType=VARCHAR},
      endprovince = #{endprovince,jdbcType=VARCHAR},
      endcity = #{endcity,jdbcType=VARCHAR},
      style = #{style,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      linkman = #{linkman,jdbcType=VARCHAR},
      issuedate = #{issuedate,jdbcType=TIMESTAMP},
      adduser = #{adduser,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      request = #{request,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>